.card {
  display: flex;
  flex-direction: row;

	justify-content: space-between;
	align-items: center;

  width: 230px;
  height: 120px;

	border: 2px solid yellowgreen;

	padding-left: 10px;
}

.card img {
  height: 100%;
}

main {
  display: flex;
  flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

  gap: 30px;
}
